
/* ----- kk-icon ----- */
@font-face {
    font-family: 'kk-icon';
    src:  url('../fonts/kk-icon.eot?9a19u1');
    src:  url('../fonts/kk-icon.eot?9a19u1#iefix') format('embedded-opentype'),
      url('../fonts/kk-icon.ttf?9a19u1') format('truetype'),
      url('../fonts/kk-icon.woff?9a19u1') format('woff'),
      url('../fonts/kk-icon.svg?9a19u1#kk-icon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  [class^="kk-icon-"], [class*=" kk-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'kk-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
      /*line-height: 1;*/

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .fa-lg { font-size: 1.33333333em; line-height: 0.75em; vertical-align: -15%; }
  .fa-2x { font-size: 2em; }
  .fa-3x { font-size: 3em; }
  .fa-4x { font-size: 4em; }
  .fa-5x { font-size: 5em; }
  .fa-fw { width: 1.28571429em; text-align: center; }
  .fa-ul { padding-left: 0; margin-left: 2.14285714em; list-style-type: none; }
  .fa-ul > li { position: relative; }
  .fa-li { position: absolute; left: -2.14285714em; width: 2.14285714em; top: 0.14285714em; text-align: center; }
  .fa-li.fa-lg { left: -1.85714286em; }
  .fa-border { padding: .2em .25em .15em; border: solid 0.08em #eeeeee; border-radius: .1em; }
  .fa-pull-left { float: left; }
  .fa-pull-right { float: right; }
  .fa.fa-pull-left { margin-right: .3em; }
  .fa.fa-pull-right { margin-left: .3em; }
  /* Deprecated as of 4.4.0 */
  .pull-right { float: right; }
  .pull-left { float: left; }
  .fa.pull-left { margin-right: .3em; }
  .fa.pull-right { margin-left: .3em; }
  .fa-spin { -webkit-animation: fa-spin 2s infinite linear; animation: fa-spin 2s infinite linear; }
  .fa-pulse { -webkit-animation: fa-spin 1s infinite steps(8); animation: fa-spin 1s infinite steps(8); }
  @-webkit-keyframes fa-spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }
  @keyframes fa-spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }
  .fa-rotate-90 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .fa-rotate-180 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .fa-rotate-270 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  .fa-flip-horizontal {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }
  .fa-flip-vertical {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
  }
  :root .fa-rotate-90,
  :root .fa-rotate-180,
  :root .fa-rotate-270,
  :root .fa-flip-horizontal,
  :root .fa-flip-vertical { filter: none; }
  .fa-stack { position: relative; display: inline-block; width: 2em; height: 2em; line-height: 2em; vertical-align: middle; }
  .fa-stack-1x, .fa-stack-2x { position: absolute; left: 0; width: 100%; text-align: center; }
  .fa-stack-1x { line-height: inherit; }
  .fa-stack-2x { font-size: 2em; }
  .fa-inverse { color: #ffffff; }
  
  .kk-icon-check:before{content:"\f00c"}
  .kk-icon-close:before{content:"\f00d"}
  .kk-icon-remove:before{content:"\f00d"}
  .kk-icon-times:before{content:"\f00d"}
  .kk-icon-cog:before{content:"\f013"}
  .kk-icon-gear:before{content:"\f013"}
  .kk-icon-trash-o:before{content:"\f014"}
  .kk-icon-home:before{content:"\f015"}
  .kk-icon-lock:before{content:"\f023"}
  .kk-icon-qrcode:before{content:"\f029"}
  .kk-icon-barcode:before{content:"\f02a"}
  .kk-icon-print:before{content:"\f02f"}
  .kk-icon-camera:before{content:"\f030"}
  .kk-icon-pencil:before{content:"\f040"}
  .kk-icon-map-marker:before{content:"\f041"}
  .kk-icon-tint:before{content:"\f043"}
  .kk-icon-edit:before{content:"\f044"}
  .kk-icon-pencil-square-o:before{content:"\f044"}
  .kk-icon-share-square-o:before{content:"\f045"}
  .kk-icon-check-square-o:before{content:"\f046"}
  .kk-icon-plus:before{content:"\f067"}
  .kk-icon-minus:before{content:"\f068"}
  .kk-icon-arrows-v:before{content:"\f07d"}
  .kk-icon-arrows-h:before{content:"\f07e"}
  .kk-icon-arrows-alt:before{content:"\f0b2"}
  .kk-icon-square:before{content:"\f0c8"}
  .kk-icon-magic:before{content:"\f0d0"}
  .kk-icon-file-text-o:before{content:"\f0f6"}
  .kk-icon-crop:before{content:"\f125"}
  .kk-icon-eraser:before{content:"\f12d"}
  .kk-icon-sort-alpha-asc:before{content:"\f15d"}
  .kk-icon-sort-alpha-desc:before{content:"\f15e"}
  .kk-icon-sort-amount-asc:before{content:"\f160"}
  .kk-icon-sort-amount-desc:before{content:"\f161"}
  .kk-icon-sort-numeric-asc:before{content:"\f162"}
  .kk-icon-sort-numeric-desc:before{content:"\f163"}
  .kk-icon-history:before{content:"\f1da"}
  .kk-icon-header:before{content:"\f1dc"}
  .kk-icon-newspaper-o:before{content:"\f1ea"}
  .kk-icon-calculator:before{content:"\f1ec"}
  .kk-icon-eyedropper:before{content:"\f1fb"}
  .kk-icon-paint-brush:before{content:"\f1fc"}
  .kk-icon-toggle-off:before{content:"\f204"}
  .kk-icon-toggle-on:before{content:"\f205"}
  .kk-icon-mouse-pointer:before{content:"\f245"}
  .kk-icon-i-cursor:before{content:"\f246"}
  .kk-icon-object-group:before{content:"\f247"}
  .kk-icon-object-ungroup:before{content:"\f248"}
  .kk-icon-sticky-note:before{content:"\f249"}
  .kk-icon-sticky-note-o:before{content:"\f24a"}
  .kk-icon-superscript2:before{content:"\ea6b"}
  .kk-icon-subscript2:before{content:"\ea6c"}
  .kk-icon-access_alarms:before{content:"\e191"}
  .kk-icon-apps:before{content:"\e5c3"}
  .kk-icon-arrow_back:before{content:"\e5c4"}
  .kk-icon-arrow_drop_down:before{content:"\e5c5"}
  .kk-icon-arrow_drop_up:before{content:"\e5c7"}
  .kk-icon-arrow_forward:before{content:"\e5c8"}
  .kk-icon-art_track:before{content:"\e060"}
  .kk-icon-aspect_ratio:before{content:"\e85b"}
  .kk-icon-attach_file:before{content:"\e226"}
  .kk-icon-av_timer:before{content:"\e01d"}
  .kk-icon-border_color:before{content:"\e22b"}
  .kk-icon-brush:before{content:"\e3ae"}
  .kk-icon-chat_bubble:before{content:"\e0ca"}
  .kk-icon-check2:before{content:"\e5ca"}
  .kk-icon-check_box:before{content:"\e834"}
  .kk-icon-check_box_outline_blank:before{content:"\e835"}
  .kk-icon-chrome_reader_mode:before{content:"\e86d"}
  .kk-icon-close2:before{content:"\e5cd"}
  .kk-icon-palette:before{content:"\e40a"}
  .kk-icon-mode_edit:before{content:"\e254"}
  .kk-icon-crop2:before{content:"\e3be"}
  .kk-icon-crop_free:before{content:"\e3c2"}
  .kk-icon-crop_rotate:before{content:"\e437"}
  .kk-icon-done:before{content:"\e876"}
  .kk-icon-filter_center_focus:before{content:"\e3dc"}
  .kk-icon-filter_none:before{content:"\e3e0"}
  .kk-icon-filter_tilt_shift:before{content:"\e3e2"}
  .kk-icon-fingerprint:before{content:"\e90d"}
  .kk-icon-flip:before{content:"\e3e8"}
  .kk-icon-flip_to_back:before{content:"\e882"}
  .kk-icon-flip_to_front:before{content:"\e883"}
  .kk-icon-font_download:before{content:"\e167"}
  .kk-icon-format_align_center:before{content:"\e234"}
  .kk-icon-format_align_justify:before{content:"\e235"}
  .kk-icon-format_align_left:before{content:"\e236"}
  .kk-icon-format_align_right:before{content:"\e237"}
  .kk-icon-format_bold:before{content:"\e238"}
  .kk-icon-format_clear:before{content:"\e239"}
  .kk-icon-format_color_fill:before{content:"\e23a"}
  .kk-icon-format_color_reset:before{content:"\e23b"}
  .kk-icon-format_color_text:before{content:"\e23c"}
  .kk-icon-format_indent_decrease:before{content:"\e23d"}
  .kk-icon-format_indent_increase:before{content:"\e23e"}
  .kk-icon-format_italic:before{content:"\e23f"}
  .kk-icon-format_line_spacing:before{content:"\e240"}
  .kk-icon-format_list_bulleted:before{content:"\e241"}
  .kk-icon-format_list_numbered:before{content:"\e242"}
  .kk-icon-format_shapes:before{content:"\e25e"}
  .kk-icon-format_size:before{content:"\e245"}
  .kk-icon-format_strikethrough:before{content:"\e246"}
  .kk-icon-format_underlined:before{content:"\e249"}
  .kk-icon-fullscreen:before{content:"\e5d0"}
  .kk-icon-fullscreen_exit:before{content:"\e5d1"}
  .kk-icon-gesture:before{content:"\e155"}
  .kk-icon-location_searching:before{content:"\e1b7"}
  .kk-icon-photo:before{content:"\e410"}
  .kk-icon-import_contacts:before{content:"\e0e0"}
  .kk-icon-invert_colors:before{content:"\e891"}
  .kk-icon-invert_colors_off:before{content:"\e0c4"}
  .kk-icon-keyboard_arrow_down:before{content:"\e313"}
  .kk-icon-keyboard_arrow_left:before{content:"\e314"}
  .kk-icon-keyboard_arrow_right:before{content:"\e315"}
  .kk-icon-keyboard_arrow_up:before{content:"\e316"}
  .kk-icon-label:before{content:"\e892"}
  .kk-icon-layers:before{content:"\e53b"}
  .kk-icon-layers_clear:before{content:"\e53c"}
  .kk-icon-line_style:before{content:"\e919"}
  .kk-icon-line_weight:before{content:"\e91a"}
  .kk-icon-print2:before{content:"\e8ad"}
  .kk-icon-mode_comment:before{content:"\e253"}
  .kk-icon-more:before{content:"\e619"}
  .kk-icon-opacity:before{content:"\e91c"}
  .kk-icon-pageview:before{content:"\e8a0"}
  .kk-icon-pan_tool:before{content:"\e925"}
  .kk-icon-panorama:before{content:"\e40b"}
  .kk-icon-photo_size_select_small:before{content:"\e434"}
  .kk-icon-picture_as_pdf:before{content:"\e415"}
  .kk-icon-picture_in_picture:before{content:"\e8aa"}
  .kk-icon-picture_in_picture_alt:before{content:"\e911"}
  .kk-icon-plus_one:before{content:"\e800"}
  .kk-icon-portrait:before{content:"\e416"}
  .kk-icon-rate_review:before{content:"\e560"}
  .kk-icon-receipt:before{content:"\e8b0"}
  .kk-icon-refresh:before{content:"\e5d5"}
  .kk-icon-rotate_left:before{content:"\e419"}
  .kk-icon-rotate_right:before{content:"\e41a"}
  .kk-icon-save:before{content:"\e161"}
  .kk-icon-screen_lock_rotation:before{content:"\e1c0"}
  .kk-icon-screen_rotation:before{content:"\e1c1"}
  .kk-icon-select_all:before{content:"\e162"}
  .kk-icon-textsms:before{content:"\e0d8"}
  .kk-icon-stop:before{content:"\e047"}
  .kk-icon-straighten:before{content:"\e41c"}
  .kk-icon-tab_unselected:before{content:"\e8d9"}
  .kk-icon-text_fields:before{content:"\e262"}
  .kk-icon-text_format:before{content:"\e165"}
  .kk-icon-texture:before{content:"\e421"}
  .kk-icon-title:before{content:"\e264"}
  .kk-icon-transform:before{content:"\e428"}
  .kk-icon-unfold_less:before{content:"\e5d6"}
  .kk-icon-unfold_more:before{content:"\e5d7"}
  .kk-icon-vertical_align_bottom:before{content:"\e258"}
  .kk-icon-vertical_align_center:before{content:"\e259"}
  .kk-icon-vertical_align_top:before{content:"\e25a"}
  .kk-icon-view_comfy:before{content:"\e42a"}
  .kk-icon-view_module:before{content:"\e8f0"}
  .kk-icon-wallpaper:before{content:"\e1bc"}
  .kk-icon-whatshot:before{content:"\e80e"}
  .kk-icon-youtube_searched_for:before{content:"\e8fa"}
  .kk-icon-zoom_in:before{content:"\e8ff"}
  .kk-icon-zoom_out:before{content:"\e900"}
  .kk-icon-zoom_out_map:before{content:"\e56b"}
