/* deskView */
    .deskView {position: absolute;top: 86px;left: 0;right: 0;bottom: 0;margin-top: 0;overflow: hidden;border: 0 solid #eee;}
    /* .deskView:after {content: " ";display: block;clear: both;height: 0;visibility: hidden;} */

    .deskView .lSideView {display: flex;flex-direction: column;}
    .deskView .lSideView .lSideBtnWrap{height: 35px;background-color: pink;}
    .deskView .lSideView .lSideBtnWrap i{display: flex;align-items: center;justify-content: center;height: 100%;text-align: center;background-color: #eee;border: 1px solid #ccc;}
    .deskView .lSideView .lSideBtnWrap i:hover{color: #ff0000;}
    .deskView .lSideView .lSideBtnWrap i:active{color: #0456a2;}

    .deskView .lSideView {position: absolute;top: 1px;left: 0;bottom: 0px;right: auto;width: 156px; background-color: #fff;counter-reset: slide;z-index: 10000;border-right: 1px solid #ccc;}
    .deskView .lSideView .lSideViewWrap {overflow: scroll;overflow-x: hidden;}
    .deskView .lSideView .lSideViewWrap .lSideViewWrapSCroll {padding-top: 20px;}

    .deskView .lSideView .docWrap:first-child {margin-top: 0px;}
    .deskView .lSideView .docWrap {margin: 0px;overflow: hidden;}
    .deskView .lSideView .docWrap .slideWrap {position: relative;margin: 10px auto 30px auto;padding-top: 0px;padding-bottom: 0px;width: 96px;height: 96px;background-color: #c4c4c4;}

    .deskView .lSideView .docWrap .slideWrap.kkcurrent {background-color: #abc7df;}
    .deskView .lSideView .docWrap .slideWrap[bosang='Y']:before {counter-increment: slide;content: counter(slide);position: absolute;bottom: -25px;transform: translateX(0px);color: #666;font-size: 12px;}
    .deskView .lSideView .docWrap .slideWrap[bosang='Y'].flExplMg:before {counter-increment: slide;content: counter(slide) " / 미결";position: absolute;bottom: -25px;transform: translateX(0px);color: #666;font-size: 12px;}
    .deskView .lSideView .docWrap .slideWrap[bosang='Y'][hiddenMessage='Y']:before {counter-increment: slide;content: counter(slide);position: absolute;bottom: -25px;transform: ranslateX(0px);
    color: #666;font-size: 12px;}
    .deskView .lSideView .docWrap .slideWrap[bosang='Y'][hiddenMessage='Y'].flExplMg:before {counter-increment: slide;content: counter(slide) " / 미결";position: absolute;bottom: -25px;transform: translateX(0px);color: #666;font-size: 12px;}

    .deskView .lSideView .docWrap .slideWrap .bkmrk_star_wrap{position: relative;}
    .deskView .lSideView .docWrap .slideWrap .bkmrk_star_wrap .bkmrkWrap {position: absolute;top: 3px;left: 3px;display: block;width: 30px;height: 30px;line-height: 30px;text-align: left;z-index: 1000;}
    .deskView .lSideView .docWrap .slideWrap .bkmrk_star_wrap .bkmrkWrap i {font-size: 30px;color: #ff0000;}

    .deskView .lSideView .docWrap .slideWrap .bkmrk_star_wrap .starWrap {position: absolute;top: 3px;right: 3px;display: block;width: 30px;height: 30px;line-height: 30px;text-align: center;z-index: 1000;}
    .deskView .lSideView .docWrap .slideWrap[hiddenMessage='Y'] .bkmrk_star_wrap .starWrap i {color: #003f81;}
    .deskView .lSideView .docWrap .slideWrap .bkmrk_star_wrap .starWrap i {font-size: 30px;color: #fff;}

    .deskView .lSideView .docWrap .slideWrap .thumbWrap {position: absolute;width: 96px;height: 96px;}
    .deskView .lSideView .docWrap .slideWrap .thumbWrap .thumb {height: inherit;width: inherit;outline: 1px solid #000;overflow: hidden;}
    .deskView .lSideView .docWrap .slideWrap .thumbWrap .thumbZoom {position: absolute;transform-origin: left top;display: hidden;top: 50%;left: 50%;transform: translate(-50%,-50%);}
    .deskView .lSideView .docWrap .slideWrap .thumbWrap .thumb img {display: block;/* width: 100px; */outline: 0px solid #ccc;margin: 0;padding: 0;-ms-interpolation-mode: bicubic;image-rendering: optimizeQuality;}
    .kk_shape {position: absolute;z-index: 9999;top: 0;left: 0;right: 0;bottom: 0;transform-origin: left top;background: rgba(255,255,255,0.0);}
    .spinner {display: none;position: absolute;z-index: 99999;top: 50%;left: 50%;width: 40px;height: 40px;margin-top: -20px;margin-left: -20px;background-color: #333;border-radius: 100%;-webkit-animation: sk-scaleout 1.0s infinite ease-in-out;animation: sk-scaleout 1.0s infinite ease-in-out;}
    .deskView .lSideView .docWrap .slideWrap.kkcurrent .thumbWrap .thumb {outline: 4px solid #0456a2;}

    .deskView .lSideView .docWrap .slideWrap[hiddenMessage='Y'] .infoWrap {background-color: transparent;}
    .deskView .lSideView .docWrap .slideWrap .infoWrap {position: absolute;bottom: 0;left: 0;right: 0;height: 20px;background-color: rgba(0,0,0,0.7);}

    .deskView .lSideView .docWrap .slideWrap .infoWrap .format {position: absolute;display: inline-block;right: 0;width: 30px;height: 20px;color: #fff;background-color: #e34d66;font-size: 11px;text-align: center;line-height: 20px;font-weight: bold;}

    .deskView .lSideView .docWrap .slideWrap .infoWrap .originDownload {position: absolute;left: 50%;transform: translateX(-50%);display: inline-block;color: #000;width: 20px;height: 20px;line-height: 20px;text-align: center;}

    .deskView .lSideView .docWrap .slideWrap .infoWrap .originDownload i {font-size: 20px;color: #000;line-height: 20px;}

    /* .deskView .lSideView .docWrap > .slideWrap > .title {display: block;text-align: right;bottom: -25px;} */
    /* .deskView .lSideView .docWrap .slideWrap .title {position: absolute;left: 10px;right: 10px;bottom: -20px;top: auto;background-color: rgba(0,0,0,0);color: #666;height: 20px;line-height: 20px;text-align: center;} */
    /* .deskView .lSideView .title {position: absolute;top: auto;left: 5px;right: 5px;bottom: 5px;border-radius: 0px;font-size: 12px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;background-color: rgba(0,0,0,0);color: #666;height: 20px;line-height: 20px;text-align: center;} */

    .deskView .lSideView .slideWrap:hover .thumbWrap .thumb {outline:4px solid rgba(252, 58, 72, 0.7)}
    .deskView .lSideView .slideWrap:hover  { background-color:rgba(252, 141, 149, 0.7);} 
    .deskView .lSideView .slideWrap:active  { background-color:rgb(171,199,223);}
    .deskView .lSideView .slideWrap:active .thumbWrap .thumb { outline:4px solid rgb(14,86,162);}

/* editView */
    .deskView .editView {position: absolute;top: 30px;left: 180px;bottom: 40px;right: 0;overflow: auto;background-color: #c4c4c4;overscroll-behavior: contain;}
    .deskView .editView .editViewWrap {width: 100%;height: 100%;padding: 0px;margin: 0px;overflow: hidden;}
    .deskView .editView .currentSlide {position: relative;margin-left: 0;margin-right: 0;}
    .editViewWrap .currentSlide {z-index: 2;}
    .currentSlide {position: relative;}
    .editViewWrap .pdfCanvas {z-index: 1;}
    .currentImg img {/* image-rendering: pixelated; */image-rendering: optimizeSpeed;-ms-interpolation-mode: nearest-neighbor;}
    .currentBox {background-color: rgba(255,0,0,0);}
    .watermarkWrap {position: fixed;width: 100%;height: 100%;top: 0;left: 0;right: 0;bottom: 0;overflow: hidden;z-index: 9999;transform-origin: 0 0;pointer-events: none;text-align: center;}
    .watermarkWrap .kk_watermark {font-size: 1em;display: block;display: inline-block;zoom: 1;top: 0;left: 0;width: 400px;height: 400px;z-index: 10000;-webkit-user-select: none;-moz-user-select: -moz-none;-ms-user-select: none;user-select: none;transform: rotate(-22deg);}
    .watermarkWrap .kk_watermark p.watermarkText {
    display: flex;flex-direction: column;justify-content: center;align-items: center;width: 100%;height: 100%;margin: 0;padding: 0;color: #000;opacity: 0.15;font-size: 20px;font-weight: normal;font-family: 'MalgunGothicWeb','맑은고딕';}
    .version {color: #999;height: 20px;width: 150px;line-height: 20px;font-size: 14px;position: fixed;bottom: 60px;right: 20px;text-align: right;}